/* Estilo do chat */
#chat-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 500px;
    background-color: #ffcc4d;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

.chat-header {
    background-color: #ffb84d;
    padding: 10px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conversation-list {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.chat-log {
    flex-grow: 2;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}

#chat-message-input {
    width: calc(100% - 70px);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffcc4d;
}

#chat-message-send {
    background-color: #ff9933;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

#add-user {
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

#recipient-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#recipient-select {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.open-chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #ff9933;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
