/* Fundo amarelo claro para a página */
body {
    background-color: #ffec3d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar verde */
.navbar {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo na horizontal */
    align-items: center;
    background-color: #00FF00;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Permite posicionar outros elementos */
}

.navbar h1 {
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

.navbar .back-link {
    position: absolute; /* Posiciona o link de "Voltar ao Menu" */
    right: 20px; /* Afasta o link da borda direita */
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

.navbar .back-link:hover {
    text-decoration: underline;
}

/* Seção principal */
.content {
    width: 90%;
    max-width: 500px;
    background-color: #ffcc66;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid #FFD700;
    margin-bottom: 20px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea,
form select,
form input[type="file"] {
    padding: 10px;
    font-size: 1.1em;
    background-color: #d1ff00;
    border: 2px solid #00FF00;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

form input[type="text"]:focus,
form textarea:focus,
form select:focus,
form input[type="file"]:focus {
    transform: scale(1.05);
    border-color: #00FF00; 
}

form textarea {
    resize: vertical;
    min-height: 100px;
}

/* Botão de envio */
.submit-button {
    padding: 12px 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
    background-color: #d1ff00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    align-self: center;
}

.submit-button:hover {
    background-color: #c7e600;
    transform: scale(1.1);
}

/* Links de download */
.quadro-arquivos {
    margin-top: 20px;
}

.quadro-arquivos .download-link {
    display: inline-flex;
    align-items: center;
    color: #333;
    text
