body {
    background-color: #FFFF00; /* Amarelo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00FF00; /* Verde */
    width: 100%;
    padding: 10px 20px;
}

/* Conteúdo principal */
.content h2 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

/* Contêiner dos quadros */
.quadro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}

/* Estilos dos Quadros */
.quadro-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 180px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-left: 6px solid;
}

.quadro-card:hover {
    transform: scale(1.05);
}

/* Cores para Prioridade */
.urgente {
    border-color: red;
    background-color: #fa0000;
}

.proximo {
    border-color: #ffcc00;
    background-color: #ffff00;
}

.distante {
    border-color: green;
    background-color: #008300;
}

/* Botão de Novo Quadro */
.button-container {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.add-quadro-button {
    padding: 20px 40px;
    font-size: 1.5em;
    color: #333;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.add-quadro-button:hover {
    background-color: #ccc;
    transform: translateY(-5px);
}

/* Rodapé */
.footer {
    width: 100%;
    background-color: #00FF00;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}
