{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Quadro</title>
    <link rel="stylesheet" href="{% static 'css/addquadro.css' %}">
</head>
<body>
    <nav class="navbar">
        <h1>Adicionar Novo Quadro</h1>
        <a href="{% url 'menu' %}" class="back-link">Voltar ao Menu</a>
    </nav>

    <section class="content">
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{ form.as_p }}
            
            <label for="arquivo">Anexar Arquivos:</label>
            <input type="file" id="arquivo" name="arquivo" multiple>
            <button type="submit" class="submit-button">Adicionar Quadro</button>
        </form>
    </section>
</body>
</html>
