{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Quadro</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <nav class="navbar">
        <h1>Editar Quadro</h1>
        <a href="{% url 'menu' %}" class="back-link">Voltar ao Menu</a>
    </nav>

    <section class="content">
        <form method="post" enctype="multipart/form-data"> <!-- Adicionado enctype para upload de arquivos -->
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Campo para selecionar um novo arquivo -->
            <label for="arquivo">Anexar Novo Arquivo:</label>
            <input type="file" id="arquivo" name="arquivo">
            <button type="submit" class="submit-button">Salvar Alterações</button>
        </form>

        <!-- Exibe o arquivo atual se houver -->
        {% if quadro.arquivo %}
            <div class="quadro-arquivos">
                <a href="{{ quadro.arquivo.url }}" download="{{ quadro.arquivo.name }}" class="download-link">
                    <!-- Ícone de pasta em SVG -->
                    
                </a>
            </div>
        {% endif %}
    </section>
</body>
</html>
